<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
{{ with .Site.Params.favicon }}
<link rel="icon" href="{{ . | relURL }}">{{ end }}
